body {
    margin: 0 auto;
}

/* Main */
.main {
    width: 550px;
    height: 285px;
    background-color: #6943FF;
    /* margin: -20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
    box-sizing: border-box;
}

.main h2 {
    font-family: Inter;
    color: white;
    padding: 33px 51px 30px 51px;
    /* border: 1px springgreen solid */
}

.main input {
    width: 117px;
    height: 83px;
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    display: block;
    color: #FFFFFF;
    box-sizing: border-box;
    font-size: 45px;
    padding-left: 25px;
    font-weight: bolder;
}

.main button {
    width: 117px;
    height: 42px;
    margin-top: 25px;
    border-radius: 5px;
    border: none;
    margin-bottom: 25px;
}

/* values */

.values {
    height: 444px;
    width: 550px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.length, .volume, .mass {
    width: 500px;
    height: 109px;
    background-color: #273549;
    border-radius: 5px;
    font-family: Inter;
    text-align: center;
    color: #CCC1FF;
    font-weight: 400px;
}

.values p {
    color: white;
    font-weight: 200px;
}
